# Ignore .pyc files
*.pyc

# Ignore __pycache__ folders
__pycache__/
*.egg-info
outputs/
videos/
cache/
.vscode/
*.h5
wandb/
*.npz
log/
logs/
*.out
*.err
multiple.sh
single.sh
*.png
*.pt
scp_ckpt.sh
check_exp.sh
interactive.sh
*.pickle
multi_gpu.sh

scp.sh

*.env
*.npy
result/
ckpts/
data/
log/