# Ignore .pyc files
*.pyc

# Ignore __pycache__ folders
__pycache__/
*.egg-info
outputs/
videos/
cache/
.vscode/
wandb/
log/
logs/
result/
ckpts/
data/
log/

*.h5
*.npz
*.out
*.err
*.png
*.pt
*.pickle
*.sh
*.env
*.npy
*.mp4