# Ignore .pyc files
*.pyc

# Ignore __pycache__ folders
__pycache__/
*.egg-info
outputs/
videos/
cache/
.vscode/
wandb/
log/
logs/
result/
ckpts/
data/
log/
.ruff_cache/
calibration/
comparison/

*.h5
*.npz
*.out
*.err
*.png
*.pt
*.pickle
*.sh
*.env
*.npy
*.mp4
# *.glb
# *.obj
# *.mtl

compare_sim_real_predictions.py
plot.ipynb

!guided_dc/assets/**/*.png
!set_path.sh